<div class="container">
	<div class="row">
		
			<h1>welcome to <strong>Bookers<strong> !!</h1>
			<p>In <strong>Bookers<strong>,</strong>
			<p>you can share and exchange your opinions , inpressions , and emotions</p>
			<p>about various books!</p>
			
			<div class="row">
				<%= link_to "Log in", "/users/sign_in" %>
			</div>
			
			<div class="row">
				<%= link_to "Sign Up", "/users/sign_up" %>
			</div>
			
		
	</div>
</div>